<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TITLE</key>
	<dict>
		<key>SIGNIN</key>
		<dict>
			<key>EN</key>
			<string>Sign In</string>
			<key>TH</key>
			<string>ล๊อคอิน</string>
		</dict>
		<key>SIGNUP</key>
		<dict>
			<key>EN</key>
			<string>Sign Up</string>
			<key>TH</key>
			<string>ลงทะเบียน</string>
		</dict>
		<key>POLICY</key>
		<dict>
			<key>EN</key>
			<string>Privacy Policy</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>TERM</key>
		<dict>
			<key>EN</key>
			<string>Term of Service</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>OTP</key>
		<dict>
			<key>EN</key>
			<string>Activation</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>EMAIL</key>
		<dict>
			<key>EN</key>
			<string>Email Verification</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>FORGETPASSWORD</key>
		<dict>
			<key>EN</key>
			<string>Forget Password</string>
			<key>TH</key>
			<string>ลืมรหัสผ่าน</string>
		</dict>
		<key>CONTACT</key>
		<dict>
			<key>EN</key>
			<string>Contact</string>
			<key>TH</key>
			<string>รายชื่อ</string>
		</dict>
		<key>MESSAGE</key>
		<dict>
			<key>EN</key>
			<string>Message</string>
			<key>TH</key>
			<string>ข้อความ</string>
		</dict>
		<key>PACKAGE</key>
		<dict>
			<key>EN</key>
			<string>Package</string>
			<key>TH</key>
			<string>แพ็กเกจ</string>
		</dict>
		<key>SHARE</key>
		<dict>
			<key>EN</key>
			<string>Tell Friend</string>
			<key>TH</key>
			<string>บอกเพื่อน</string>
		</dict>
		<key>MORE</key>
		<dict>
			<key>EN</key>
			<string>More</string>
			<key>TH</key>
			<string>อื่นๆ</string>
		</dict>
		<key>SETTING</key>
		<dict>
			<key>EN</key>
			<string>Setting</string>
			<key>TH</key>
			<string>ตั้งค่า</string>
		</dict>
		<key>NEWS</key>
		<dict>
			<key>EN</key>
			<string>News</string>
			<key>TH</key>
			<string>ข่าว</string>
		</dict>
		<key>HISTORY</key>
		<dict>
			<key>EN</key>
			<string>History</string>
			<key>TH</key>
			<string>รายการย้อนหลัง</string>
		</dict>
		<key>SCHEDULE</key>
		<dict>
			<key>EN</key>
			<string>Message Schedule</string>
			<key>TH</key>
			<string>ข้อความตั้งเวลา</string>
		</dict>
		<key>TOPUP</key>
		<dict>
			<key>EN</key>
			<string>Top Up</string>
			<key>TH</key>
			<string>เติมเงิน</string>
		</dict>
		<key>TEMPLATE</key>
		<dict>
			<key>EN</key>
			<string>Template</string>
			<key>TH</key>
			<string>แบบข้อความ</string>
		</dict>
		<key>INFORMATION</key>
		<dict>
			<key>EN</key>
			<string>Information</string>
			<key>TH</key>
			<string>ข้อมูลต่างๆ</string>
		</dict>
		<key>IMPORTCONTACT</key>
		<dict>
			<key>EN</key>
			<string>Import Contact</string>
			<key>TH</key>
			<string>นำเข้ารายชื่อ</string>
		</dict>
		<key>LOGOUT</key>
		<dict>
			<key>EN</key>
			<string>Log Out</string>
			<key>TH</key>
			<string>ออกจากระบบ</string>
		</dict>
	</dict>
	<key>BUTTON</key>
	<dict>
		<key>DONE</key>
		<dict>
			<key>EN</key>
			<string>Done</string>
			<key>TH</key>
			<string>ตกลง</string>
		</dict>
		<key>LIKE</key>
		<dict>
			<key>EN</key>
			<string>Like</string>
			<key>TH</key>
			<string>ถูกใจ</string>
		</dict>
		<key>RESEND_EMAIL</key>
		<dict>
			<key>EN</key>
			<string>Resend Verification Code</string>
			<key>TH</key>
			<string>ส่งรหัสผ่านใหม่</string>
		</dict>
		<key>SHARE</key>
		<dict>
			<key>EN</key>
			<string>Share</string>
			<key>TH</key>
			<string>ส่งต่อ</string>
		</dict>
		<key>RESEND_OTP</key>
		<dict>
			<key>EN</key>
			<string>Resend OTP Password</string>
			<key>TH</key>
			<string>ส่งรหัสผ่านใหม่</string>
		</dict>
		<key>SIGNUP_FACE</key>
		<dict>
			<key>EN</key>
			<string>Sign Up With Facebook</string>
			<key>TH</key>
			<string>สมัครด้วยเฟสบุ๊ค</string>
		</dict>
		<key>SIGNUP_EMAIL</key>
		<dict>
			<key>EN</key>
			<string>Sign Up With Email</string>
			<key>TH</key>
			<string>สมัครด้วยอีเมล์</string>
		</dict>
		<key>SIGNIN</key>
		<dict>
			<key>EN</key>
			<string>Sign In</string>
			<key>TH</key>
			<string>ล๊อคอิน</string>
		</dict>
		<key>FORGET_PASS</key>
		<dict>
			<key>EN</key>
			<string>Forget Password</string>
			<key>TH</key>
			<string>ลืมรหัสผ่าน</string>
		</dict>
		<key>CHANGE_PASS</key>
		<dict>
			<key>EN</key>
			<string>Change Password</string>
			<key>TH</key>
			<string>เปลี่ยนรหัสผ่าน</string>
		</dict>
		<key>LINK_FACEBOOK</key>
		<dict>
			<key>EN</key>
			<string>Link to Facebook</string>
			<key>TH</key>
			<string>เชื่อมต่อกับเฟสบุ๊ค</string>
		</dict>
	</dict>
	<key>PLACEHODER</key>
	<dict>
		<key>TOPUP_SERIAL</key>
		<dict>
			<key>EN</key>
			<string>Serial Code 16 digits</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>EMAIL</key>
		<dict>
			<key>EN</key>
			<string>E-mail</string>
			<key>TH</key>
			<string>อีเมล์</string>
		</dict>
		<key>PASSWORD</key>
		<dict>
			<key>EN</key>
			<string>Password</string>
			<key>TH</key>
			<string>รหัสผ่าน</string>
		</dict>
		<key>SIGNUP_PASSWORD</key>
		<dict>
			<key>EN</key>
			<string>At Least 8 Characters</string>
			<key>TH</key>
			<string>กรุณาระบุมากกว่า 8 ตัว</string>
		</dict>
		<key>SIGNUP_PHONE</key>
		<dict>
			<key>EN</key>
			<string>Required</string>
			<key>TH</key>
			<string>ต้องการ</string>
		</dict>
		<key>SIGNUP_EMAIL</key>
		<dict>
			<key>EN</key>
			<string>Example@abc.com</string>
			<key>TH</key>
			<string>Example@abc.com</string>
		</dict>
		<key>SIGNUP_NAME</key>
		<dict>
			<key>EN</key>
			<string>Input Full Name</string>
			<key>TH</key>
			<string>ชื่อ - นามสกุล</string>
		</dict>
		<key>ACTIVATION_OTP</key>
		<dict>
			<key>EN</key>
			<string>OTP Password</string>
			<key>TH</key>
			<string>รหัสผ่านครั้งเดียว</string>
		</dict>
		<key>ACTIVATION_EMAIL</key>
		<dict>
			<key>EN</key>
			<string>Email Verification Code</string>
			<key>TH</key>
			<string>รหัสผ่านจากอีเมล์</string>
		</dict>
	</dict>
	<key>LABEL</key>
	<dict>
		<key>ABOUT</key>
		<dict>
			<key>EN</key>
			<string>ABOUT</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>HELP</key>
		<dict>
			<key>EN</key>
			<string>HELP</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>MOBILE</key>
		<dict>
			<key>EN</key>
			<string>Mobile No.</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>EMAIL</key>
		<dict>
			<key>EN</key>
			<string>Please enter your email verification code</string>
			<key>TH</key>
			<string>กรุณากรอกรหัสผ่านที่ได้รับจากอีเมล์</string>
		</dict>
		<key>OTP</key>
		<dict>
			<key>EN</key>
			<string>Before you can login, you must active your account with the code sent to your phone number </string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>FORGETPASS</key>
		<dict>
			<key>EN</key>
			<string>We&apos;ll send you to forgot your password</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>SIGNUP_EMAIL</key>
		<dict>
			<key>EN</key>
			<string>E-mail</string>
			<key>TH</key>
			<string>อีเมล์</string>
		</dict>
		<key>SIGNUP_PHONE</key>
		<dict>
			<key>EN</key>
			<string>Phone</string>
			<key>TH</key>
			<string>เบอร์โทรศัพท์</string>
		</dict>
		<key>SIGNUP_PASS</key>
		<dict>
			<key>EN</key>
			<string>Password</string>
			<key>TH</key>
			<string>รหัสผ่าน</string>
		</dict>
		<key>SIGNUP_CONFIRM</key>
		<dict>
			<key>EN</key>
			<string>Confirm Password</string>
			<key>TH</key>
			<string>ยืนยันรหัสผ่าน</string>
		</dict>
		<key>SIGNUP_TERM</key>
		<dict>
			<key>EN</key>
			<string>By signing up, you agree to the</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>SETTING_BALANCE</key>
		<dict>
			<key>EN</key>
			<string>Your Balance</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>SETTING_NUMBER</key>
		<dict>
			<key>EN</key>
			<string>Number of SMS</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>SETTING_USED</key>
		<dict>
			<key>EN</key>
			<string>Used SMS</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>SETTING_SMS</key>
		<dict>
			<key>EN</key>
			<string>SMS Balance</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>SETTING_PACKAGE</key>
		<dict>
			<key>EN</key>
			<string>Your Package</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>HISTORY_DATE</key>
		<dict>
			<key>EN</key>
			<string>Date</string>
			<key>TH</key>
			<string>วัน</string>
		</dict>
		<key>HISTORY_SEND</key>
		<dict>
			<key>EN</key>
			<string>Send Message History</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>HISTORY_SEND_DETAIL</key>
		<dict>
			<key>EN</key>
			<string>Detail</string>
			<key>TH</key>
			<string>รายละเอียด</string>
		</dict>
		<key>HISTORY_SEND_DATE</key>
		<dict>
			<key>EN</key>
			<string>Date/Time</string>
			<key>TH</key>
			<string>วัน/เวลา</string>
		</dict>
		<key>HISTORY_SEND_SUCCESS</key>
		<dict>
			<key>EN</key>
			<string>Success</string>
			<key>TH</key>
			<string>สำเร็จ</string>
		</dict>
		<key>HISTORY_SEND_FAILED</key>
		<dict>
			<key>EN</key>
			<string>Failed</string>
			<key>TH</key>
			<string>ล้มเหลว</string>
		</dict>
		<key>HISTORY_TOPUP</key>
		<dict>
			<key>EN</key>
			<string>Topup History</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>HISTORY_TOPUP_CHANNEL</key>
		<dict>
			<key>EN</key>
			<string>Channel</string>
			<key>TH</key>
			<string>ช่องทาง</string>
		</dict>
		<key>HISTORY_TOPUP_AMOUNT</key>
		<dict>
			<key>EN</key>
			<string>Amount</string>
			<key>TH</key>
			<string>จำนวนเงิน</string>
		</dict>
		<key>HISTORY_QUOTA</key>
		<dict>
			<key>EN</key>
			<string>Quota Balance History</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>HISTORY_QUOTA_STATUS</key>
		<dict>
			<key>EN</key>
			<string>Status</string>
			<key>TH</key>
			<string>สถานะ</string>
		</dict>
		<key>HISTORY_QUOTA_BALANCE</key>
		<dict>
			<key>EN</key>
			<string>Balance(SMS)</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>TOPUP_CASH</key>
		<dict>
			<key>EN</key>
			<string>Cash Card</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>TOPUP_SERIAL</key>
		<dict>
			<key>EN</key>
			<string>Serial Code</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>ADDTEMPLATE_NAME</key>
		<dict>
			<key>EN</key>
			<string>Serial Code</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>MESSAGE</key>
		<dict>
			<key>EN</key>
			<string>Message</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>BATH</key>
		<dict>
			<key>EN</key>
			<string>Bath</string>
			<key>TH</key>
			<string>บาท</string>
		</dict>
	</dict>
	<key>POPUP</key>
	<dict>
		<key>TEXTFIELDNIL</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>กรุณาระบุข้อมูลที่จำเป็นให้ครบถ้วน</string>
		</dict>
		<key>TEXTFIELDEMAIL</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>กรุณาระบุอีเมล์ให้ถูกต้อง</string>
		</dict>
		<key>TEXTFIELDPHONE</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>กรุณาระบุเบอร์โทรศัพท์ให้ครบ 10 ตำแหน่ง</string>
		</dict>
		<key>TEXTFIELDPASS</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>กรุณาระบุรหัสผ่านให้ครบถ้วน</string>
		</dict>
		<key>TEXTFIELDCONFIRM</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>กรุณาระบุยืนยันรหัสผ่านให้ครบถ้วน</string>
		</dict>
		<key>TEXTFIELDPASSANDCONFIRM</key>
		<dict>
			<key>EN</key>
			<string>Password And Confirm Password is not match, plase try again</string>
			<key>TH</key>
			<string></string>
		</dict>
		<key>CONFIRMPHONE</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>ระบบได้ส่งรหัสผ่านแบบใช้ครั้งเดียวไปที่เบอร์</string>
		</dict>
		<key>ACTIVATECODE</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>กรุณาระบุ Activate Code ให้ถูกต้อง</string>
		</dict>
		<key>ACTIVATEEMAIL</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>ระบบได้ส่ง Email Verification ไปยัง Email ของท่าน</string>
		</dict>
		<key>SUCCESSSIGNUP</key>
		<dict>
			<key>EN</key>
			<string></string>
			<key>TH</key>
			<string>ระบบได้ทำการลงทะเบียนให้ท่านเรียบร้อยแล้ว กรุณา Log in เพื่อเข้าใช้งานระบบ</string>
		</dict>
	</dict>
</dict>
</plist>
